<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.avans.easypaykassa">

    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-feature
        android:name="android.hardware.nfc"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"

        android:theme="@style/AppTheme.NoActionBar">
        <activity android:name="com.avans.easypaykassa.MainActivity" />
        <activity android:name="com.avans.easypaykassa.AssortmentActivity" />
        <activity android:name="com.avans.easypaykassa.CustomerDataActivity" />
        <activity android:name="com.avans.easypaykassa.UserDataActivity" />
        <activity android:name="com.avans.easypaykassa.AddProductActivity" />
        <activity android:name="com.avans.easypaykassa.ScanActivity"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.nfc.action.TECH_DISCOVERED" />
            </intent-filter>
            <meta-data
                android:name="android.nfc.action.TECH_DISCOVERED"
                android:resource="@xml/nfc_tech_filter" />
        </activity>
        <activity android:name="com.avans.easypaykassa.OverviewCurrentOrdersActivity" />

        <activity
            android:name="com.avans.easypaykassa.TabbedViewActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.avans.easypaykassa.TabbedAlterAmountsActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.avans.easypaykassa.TabbedRemoveProductsActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name="com.avans.easypaykassa.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>